<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="domy.com.relevospm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--uses-permission android:name="android.permission.GET_ACCOUNTS" /-->
    <!--uses-permission android:name="android.permission.INSTALL_PACKAGES" /-->
    <!--uses-permission android:name="android.permission.DELETE_PACKAGES" /-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main_Seleccionar_Dia"
            android:label="@string/Calendario">

        </activity>

        <activity
            android:name=".Dialog_Info"
            android:label="@string/Info">

        </activity>

        <activity
            android:name=".Dialogo_Registrar_Atencion"
            android:label="@string/Info">

        </activity>

        <activity
            android:name=".login.Login"
            android:label="@string/Login">

        </activity>

        <activity
            android:name=".Tabla_Diaria2"
            android:label="@string/app_Relevos">

        </activity>

        <activity
            android:name=".login.Register"
            android:label="@string/Login">
        </activity>

        <activity
            android:name=".Utiles.SelfInstall01Activity"
            android:label="Actualizar"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>

        <activity
            android:name=".WidgetConfig"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
            <intent-filter>
                <action android:name="android.apwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".Cosmos_Widget" android:label="AA COSMO Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="domy.com.relevospm.ACTUALIZAR_WIDGET"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cosmos_wprovider" />
        </receiver>

    </application>

</manifest>
